/* Squares colors changed */

.ex-1-square {
    transition: 2s;

}

.ex-1-square:hover {
    background-color: orange;

}

.ex-2-square {
    transition: 2s;
}

/* Color change on active */
.ex-2-square:active {
    width: 50%;
    background-color: blue;
}

/* Second square added */
.two-s:active {
    width: 100%;
    background-color: orange;
}

.ex-3-square {
    transition: 1s;
}

.ex-3-square:hover {
    border-radius: 100%;
    background-color: rgb(229, 100, 239);

}

.ex-4-square {
    transition: 1s;
}

.ex-4-square:active {
    opacity: 0;
    width: 0%;

}

.ex-5-square {
    transition: 1s;
}

.ex-5-square:hover {
    transform: scale(2);
    border: 2px solid rgb(229, 255, 0);
    border-style: dashed;

}

.ex-5-square:active {
    transform: scale(.6);
    border: 3px solid rgb(255, 0, 0);
}


.ex-6-img:hover {
    filter: grayscale(1);

}

.ex-7-img {
    transition: 2s;
}

.hover {
    display:none;
}


.ex-7-img:hover .hover{
    filter: grayscale(.6) sepia(.5);
    display: block;
}


.ex-8-img {
    transition: 2s;
}

.ex-8-img:hover {
    filter: grayscale(.6) sepia(.5);
    border-radius: 20px;
}